@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');


body  {
    font: 100% Lucida Sans, Verdana;   
    background-color: lemonchiffon;
}

div.head button{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Noto Serif TC', serif;
}

div.head{
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    font-family: 'Noto Serif TC', serif;
}

.menu1 ul.reset {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    
}

.menu1 div.list{
    margin: 0.5vh;
}

.menu1 li{
    display: block;
    max-width: 45vw;
    
}

.menu1 div.text{
    background-color: aqua;
    display: flex;
    justify-content: center;
    
    min-width: 100px;
}

.menu1 i.price{
    display: flex;
    justify-content: center;
    min-width: 100px;
    
}

.menu1 div.text h4{
    display: flex;
    min-width: 100px;
    justify-content: center;
    align-items: center;
}

.menu1 h4.name{
    display: flex;
    justify-content: center;
    display: block;
}

.menu1 .con,.menu1 .con .text{
    background-color: rgb(78, 255, 116);
    display: flex;
    justify-content: center;
    align-content: center;
}

.menu1 div.pic{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    min-width: 250px;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT5pAWvKU6DBHRR-wQ7q0ikHWXYMnvQ3XYAWQ&usqp=CAU");
}
div.tot{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Noto Serif TC', serif;
}
div.home img{
    width: 50px;
}