@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');
body{
    background-color: lemonchiffon;
}

.sticky-top .ml-auto {
    display: inline-flex;
    justify-self: end;
}

.sticky-top .nav-item {
    -ms-flex-flow: wrap;
}

body .out {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
    height: 150vh;
    display: grid;
    grid-column: 150px 150px 1fr 50px;
    background-color: lemonchiffon;
}

div.head, div.head button {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Noto Serif TC', serif;
}

div.head {
    display: flex;
    justify-content: space-around;
    font-size: 50px;
    font-family: 'Noto Serif TC', serif;
}

.menu2 ul.reset {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.menu2 li.box {
    display: flex;
    justify-content: center;
    max-width: 45vw;
}

.menu2 div.text {
    background-color: aqua;
    display: block;
    flex-flow: row wrap;
}

.menu2 div.text span {
    background-color: aqua;
    display: block;
    flex-flow: row wrap;
}

.menu2 div.pic {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-width: 220px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT5pAWvKU6DBHRR-wQ7q0ikHWXYMnvQ3XYAWQ&usqp=CAU");
}

div.tot {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Noto Serif TC', serif;
}

div.home img {
    width: 50px;
}